<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="club.cheapok.entity.Player">
        <constructor-arg name="name">
            <value>Maradonna</value>
        </constructor-arg>
        <constructor-arg name="age" type="int">
            <value>25</value>
        </constructor-arg>
    </bean>

    <bean class="club.cheapok.entity.Player" name="p2">
        <constructor-arg name="name">
            <value>Gicu</value>
        </constructor-arg>
        <constructor-arg name="age" type="int">
            <value>40</value>
        </constructor-arg>
    </bean>

</beans>